*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
font-family: Arial, Helvetica, sans-serif;
height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth; 
overflow: hidden; 
}

body {
    display: flex; 
    flex-direction: column;
}

header {
    background-color: #000000cb;
    box-shadow: 0 .5rem 2rem #900404;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 6vh;
}

.navbar img {
    height: 2rem;
    width: 2rem;
}

.navbar div h1{
    color: #f5f5f5;
    font-size: 2.5rem;
    transition: 1s;
}
.navbar div h1:hover {
    color: #FFFFFF;
    transform: scale(1.01);
}
    


.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20.813rem;
    
}

.navbar li {
    font-size: 1.08rem;
    
}
.navbar li a {
    flex-grow: 1;
    text-decoration: none;
    color: #f5f5f5;
    transition: .5s;
    border-radius: 1.25rem 1.25rem  1.25rem  1.25rem  ; 
    
    
    
}

.navbar a:hover {
    color: #FFFFFF;
    background-color: #c00;
    padding: 0.438rem 0.938rem 0.438rem 0.938rem;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem ;
}

main {
    height: 100vh; 
    scroll-snap-type: y mandatory; 
    overflow-y: scroll; 
}




.section {
    height: 100vh; 
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start; 
    
}

/*Aqui empezamos con la seccion Hero.*/

.hero {
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
    font-size: 3rem;
    text-shadow: 0 0 2rem black;
    scroll-snap-align: start;
}

.hero button {
    font-size: 1rem;
    border-radius: 3.125rem 3.125rem 3.125rem 3.125rem;
    font-weight: bolder;
    padding: 0.625rem 1.875rem 0.625rem 1.875rem;
    color: white;
    background-color: #000000b3;
    box-shadow: 0 0 0.625rem rgb(255, 0, 0);
    border: none;
    cursor: pointer;
}

.hero button:hover {
    transform: scale(1.05); 
}

/*Aqui empezamos con la seccion Clases*/

.Clases {
    background-image: url(images/backgroundclases.png);
    scroll-snap-align: start;
}

.container {
    display: grid;
    height: 60vh;
    width: 50%;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 .2rem 1.5rem #900404;

    
}

.container div {
    display: flex;
}

.container a{
    color: white;
    text-decoration: none;
    flex-grow: 4;  
    display: flex; 
    align-items: center; 
    justify-content: center;
    border-radius: 1.563rem 1.563rem 1.563rem 1.563rem;
    background-color: #000000a6;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    transition: .5;
    border: solid red 0.063rem;
}

.container a:hover{
    box-shadow: 0 0 1.25rem red;

}

.container a:visited{
    color: white;
}

#Weights {
    grid-column: 1;
    background-image: url(images/claseweights.png);

}

#Functional {
    grid-column: 2;
    background-image: url(images/fuerzafunctional.png);
    
}

#Yoga {
    background-image: url(images/yoga.png);
}

.texto-clases {
    font-size: 2em;
}

.DivClases{
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.DivClases:hover{
    transform: scale(1.09);
    box-shadow: 0 .2rem 1.5rem #900404;

    
}
/*Aqui empezamos con la seccion Precios*/

.precios {
    scroll-snap-align: start;
    background-image: url(images/backgroundclases.png);
}

.precios h2 {
    margin-bottom: 2rem; font-size: 4rem;
}

.precios img {
    border-radius: 2rem;
    border: solid 0.125rem red;
    height: 60%;
    width: 60%;
    background-image: url(images/backgroundclases.png);
}



/*Aqui empezamos con la seccion Equipo*/

.equipo {
    background-image: url(images/backgroundequipo.png);
    background-size: cover;
    scroll-snap-align: start;
}

.equipo h2 {
    margin-bottom: 2rem; font-size: 4rem;
}

.container3 {
    display: grid;
    height: 55vh;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1.25rem;
}

.container3 div{
    box-shadow: 0 0 1.25rem black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
    color: #ffffff00;
    font-size: 1.5rem;
}

.container3 div:hover{
    box-shadow: 0 0 2.5rem rgb(255, 0, 0);
    transform: scale(1.08);
    color: #ffffffeb;
    text-shadow: 0 0 0.25rem black;
}

.Profesor {
    border-radius: 2rem;
}


#ProfePesas {
    background-image: url(images/coachpesas.png);
    background-size: cover;
    background-position: center;

}

#ProfeFuerza {
    background-image: url(images/coachfuerza.jpeg);
    background-size: cover;
    background-position: center;
}

#ProfeYoga {
    background-image: url(images/coachyoga.jpeg);
    background-size: cover;
    background-position: center;
}

/*Aqui empezamos con la seccion Contacto*/

.contacto {
    scroll-snap-align: start;
    background-image: url(images/backgroundcontactanos.png);
}

.container4 {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    width: 50%;
    height: 55vh;
    align-items: center;
    gap: 1.25rem;
    
}
.container4 div{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    justify-items: start;
    font-size: 2rem;

}
.container4 input {
    width: 40%;
    border-radius: 1.875rem 1.875rem 1.875rem 1.875rem;
    text-align: center;
    height: 1.5rem;
    background-color: rgba(0, 0, 0, 0.471);
    transition: 1s;
    outline: none;
    border: solid 0.125rem white;
    color: white;
}

.container4 input:focus {
    outline: none;
    border: solid 0.125rem white;
    box-shadow: 0 0 1.25rem red;
    
}

#Nombre { 
grid-row: 1; 
}

#Email { 
grid-row: 2; 
}

.container4 button {
grid-row: 3; 
align-self: center;  
justify-self: center;
padding: 0.625rem 1.875rem 0.625rem 1.875rem;
border-radius: 0.75rem 0.75rem 0.75rem 0.75rem;
background-color: rgba(0, 0, 0, 0.429);
color: white;
font-size: 1.1rem;
border: solid 0.094rem white;
transition: transform 0.1s ease, box-shadow 0.3s ease; 
}

.container4 button:hover {
box-shadow: 0 0 1.875rem red;
}

.container4 button:active { 
background-color: rgb(255, 0, 0);
box-shadow: 0 0 1.25rem red; 
}

/*Aqui empezamos con Footer*/

footer {
    display: flex;
    flex-direction: column;
    height: 8%;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    box-shadow: 0 0 2.5rem red;
}

footer .social-links{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    
}

footer .social-links img{
    width: 1.5rem;
    height: 1.5rem;
    
}

footer .copyright {
    font-size: .5rem;
    color: white;
    
}


@media (max-width: 900px) {
    html {
        font-size: 10px;
    }

    .navbar div h1:hover {
        transform: scale(1.09);
    }

    .navbar li {
        font-size: 1.5rem;
    }

    .hero {
        font-size: 2.5rem;
    }
    
    .hero button {
        font-size: 1.5rem;
    }
    
    /*Aqui empezamos con la seccion Clases*/
    
    .container {
        height: 60%;
        width: 90%;
    }

    .precios img {
        height: 45%;
        width: 90%;
    }

    /*Aqui empezamos con la seccion Equipo*/
    
    .container3 {
        width: 100%;
        column-gap: .5rem;
    }
    .container3 div:hover{
        transform: scale(1);
    }
    
    
    /*Aqui empezamos con la seccion Contacto*/
    
    .container4 input {
        width: 100%;
    }
}

    @media (max-width: 500px) {

        html{
            font-size: 8px;
        }
        
        .navbar img {
            display: none;
        }
        
        .navbar div h1{
            font-size: 2rem;
        }
        
        .navbar li {
            font-size: 1.3rem;
            
        }

        /*Aqui empezamos con la seccion Hero.*/
        
        .hero {
            font-size: 2rem;
        }
        
        .hero button {
            font-size: 1.5rem;
        }
        
        /*Aqui empezamos con la seccion Clases*/
        
        .container {
            display: grid;
            height: 60vh;
            width: 90vw;
        }

        /*Aqui empezamos con la seccion Precios*/
        
        .precios img {
            height: 60vh;
            width: 95vw;
        }
        
        
        
        /*Aqui empezamos con la seccion Equipo*/

        
        .container3 {
            display: grid;
            height: 55vh;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1fr);
        }
        .container3 div:hover{
            text-shadow: 0 0 1rem black;
        }
        
        .Profesor {
            border-radius: none;
        }
        
        
        #ProfePesas {
            background-size: contain;
        
        }
        
        #ProfeFuerza {
            background-size: contain;
        }
        
        #ProfeYoga {
            background-size: contain;
        }
        
        /*Aqui empezamos con la seccion Contacto*/
        
        .container4 {
            width: 100%;
            
        }
        .container4 div{
            display: block;
            text-align: center;
            align-items: center;
            justify-content: space-around;
            justify-items: start;
            font-size: 2rem;
        
        }
        .container4 input {
            width: 80%;
        }

        
        .container4 button {
        font-size: 1.5rem;
        }
        
        .container4 button:hover {
        box-shadow: 0 0 1.875rem red;
        }
        
        .container4 button:active { 
        background-color: rgb(255, 0, 0);
        box-shadow: 0 0 1.25rem red; 
        }
    }









    




